:root {
    --primary: #3390d6;
    --secondary: #d67933;
    --text: #121212;
    --background :#fff;
    --grayedOut : #7f7f7f;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--background);
    color: var(--text);
}

ul {
    height: 4vh;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: var(--primary);
}


li {
    float: left;
}

ul li button{
    height: 4vh;
}

/*button {
    border-radius:10%;
    color:var(--text);
    background-color: var(--primary);
    display: block;
    padding: 8px;
}*/

li a:hover {
    background-color: #111;
}

#weekDisplay{
    margin: 5%,10%;
    padding: 8px;
}

table{
    width: 100%;
    color:black;
    background-color: white;
    border: 1px solid black;
    border-collapse: collapse;
}

/*This needs to be fixed before production*/
th, td {
    background-clip: padding-box;
    padding-bottom: 5px;
    border: 1px solid black;
    border-collapse: collapse;
}

#shiftEditor{
    padding: 1%;
    border: 1px solid black;
}

#shiftEditor .inactive input{
    background-color: var(--grayedOut);
}

#PTOEditor{
    padding: 1%;
    border: 1px solid black;
}

#PTOSelect{
    width: 40%;
}



.dayDiv {
    margin-bottom: 1%;
    display: grid;
    grid-template-columns: auto 8% 1fr; /* Adjust the width of columns as needed */
    align-items: center;
}

.shiftDis {
    display: flex;
}

.shiftDis input[type="time"] {
    margin-right: 10px; /* Adjust as needed */
}




@media print {
    * {
        visibility: hidden;
    }

    #outputPane * {
        font-size: small;
        visibility: visible;
    }
}
